<div class="container">
  <div class="wrapper-index">
    <div class="cards-container-my-orders">
      <%#= render 'shared/search_bar' %>
      <div class="row">
        <div class="target-header">
          <h1 class="text-center">Who do you want to target?</h1>
        </div>
        <% @generations.each do |generation| %>
        <div class="col-xs-12 col-sm-4 col-lg-3">
          <div class="target-card">
            <div class="target-card-picture">
              <div class="target-card-title">
                <% if generation[0] == 'baby_boomer' %>
                <h3 class="text-center">Baby Boomers</h3> 
                <% elsif generation[0] == 'generation_x' %>
                <h3 class="text-center"> Generation X</h3>
                <% elsif generation[0] == 'millennial' %>
                <h3 class="text-center"> Millennials </h3>
                <% else %>
                <h3 class="text-center"> Generation Z</h3>
                <% end %>
                <p class="influencer-name text-center"></p>
              </div>
              <div class="target-card-footer">

                <% if generation[0] == 'baby_boomer' %>
                <%= link_to("Select", "/baby_boomers" , class: 'button-target') %>
                <% elsif generation[0] == 'generation_x' %>
                <%= link_to("Select", "/generation_x" , class: 'button-target') %>
                <% elsif generation[0] == 'millennial' %>
                <%= link_to("Select", "/millennials" , class: 'button-target') %>
                <% else %>
                <%= link_to("Select", "/generation_z" , class: 'button-target') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</br>
</br>
</br>

<h2 class="text-center"> Or take a look at all influencers available </h2>
</br>
</br>
</br>
<%= link_to "See all influencers", "/all_influencers", id: 'influencers', remote: true, class: 'btn btn-primary btn-lg btn-block' %>
</br>
</br>
</br>
</br>
</br>
