<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li class="list-group-item"><em>Username:<%= @influencer.username %></em>, <%= @influencer.role %></li>
        <li class="list-group-item"><em>Age:<%= @influencer.age %></em></li>
        <li class="list-group-item"><em>Influence Level:<%= @influencer.influence_level %></em></li>
        <li class="list-group-item"><em>Global Score: <%= @influencer.global_score %></em></li>
        <li class="list-group-item"><em>Location: <%= @influencer.location %></em></li>
        <li class="list-group-item"><em>Find the influencer on <%= @influencer.media_type %>
        <% if @influencer.media_type == "instagram" %>
        <%= @influencer.instagram_identifier %>
        <% else %>
        <%= @influencer.youtube_identifier %>
          <% end %>
        </em></li>
        <li class="list-group-item"><em>Number of followers: <%= @influencer.number_of_followers %></em></li>        
      </ul>
     <%= link_to "Create a proposal", new_influencer_job_path(@influencer.id), class: "btn btn-primary btn-lg btn-block"  %>
      </div>
    </div>
  </div>