<div class="container">
  <h1><%= current_user.username %>'s jobs</h1>

  <% @jobs.each do |job| %>
  <h3> <%= job.description %></h3>
  <h3> Instagram Stories: <%= job.instagram_story %></h3>
  <h3> Instagram Posts: <%= job.instagram_post %>
  </h3>
  <h3> Price paid: <%= job.price %>€</h3>

  <% end %>
</div>

