<% if current_user.role == "client" %>
<div class="container-my-jobs">
 <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <h1 class="text-center">Your order with <%= @influencer.first_name %></h1>
</br>
</br>
<div class="order-body">
  <% if @influencer.media_type == 'youtube' %>
  <h3 class="text-center"> Youtube Videos: <%= @job.youtube_vid %></h3>
  <h3 class="text-center"> Youtube References: <%= @job.youtube_ref %></h3>
  <% else %>
  <h3 class="text-center"> Instagram Posts: <%= @job.instagram_post %></h3>
  <h3 class="text-center"> Instagram Stories: <%= @job.instagram_story %></h3>
  <% end %>
  <h3 class="text-center"> Description: <%= @job.description %></h3>
  <h3 class="text-center"> Price Paid: <%= humanized_money_with_symbol(@job.price) %></h3>
</br>
</br>


<div class="go-back">
 <%= link_to "Back to orders", :back, class: "button-go-back" %>
</div>
</div>
<div class="job-done">
  <% if @job.completed? %>
  <button class="btn btn-success" disabled> Job completed</button>
  <% else %>
  <button class="btn btn-danger" disabled> Work in Progress </button>
  <% end %>
</div>

</br>
</br>
</br>
</div>
</div>
<% end %>

<% if current_user.role == "influencer" %>
<div class="container-my-jobs">
 <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <h1 class="text-center">Your order with <%= @job.client.first_name %></h1>
</br>
</br>
<div class="order-body">
  <% if current_user.media_type == 'youtube' %>
  <h3 class="text-center"> Youtube Videos: <%= @job.youtube_vid %></h3>
  <h3 class="text-center"> Youtube References: <%= @job.youtube_ref %></h3>
  <% else %>
  <h3 class="text-center"> Instagram Posts: <%= @job.instagram_post %></h3>
  <h3 class="text-center"> Instagram Stories: <%= @job.instagram_story %></h3>
  <% end %>
  <h3 class="text-center"> Description: <%= @job.description %></h3>
  <h3 class="text-center"> Price Received: <%= humanized_money_with_symbol(@job.price) %></h3>
</br>
</br>

<div class="go-back">
 <%= link_to "Back to orders", :back, class: "button-go-back" %>
</div>

<div class="job-done">
  <% if !@job.completed? %>
  <%= link_to "Mark the job as completed", update_job_state_influencer_job_path(@job), method: :patch, class: 'btn btn-default' %>
  <% else %>
  <button class="btn btn-success" disabled> Job completed</button>
  <% end %>
</div>
</div>
</br>
</br>
</br>
<% end %>

<%# raise %>
