<div class="container-my-jobs">
 <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <h1 class="text-center">Your order with <%= @influencer.first_name %></h1>
</br>
</br>
<div class="order-body">
  <% if @influencer.media_type == 'youtube' %>
  <h3 class="text-center"> Youtube Videos: <%= @job.youtube_vid %></h3>
  <h3 class="text-center"> Youtube References: <%= @job.youtube_ref %></h3>
  <% else %>
  <h3 class="text-center"> Instagram Posts: <%= @job.instagram_post %></h3>
  <h3 class="text-center"> Instagram Stories: <%= @job.instagram_story %></h3>
  <% end %>
  <h3 class="text-center"> Description: <%= @job.description %></h3>
  <h3 class="text-center"> Price Paid: <%= humanized_money_with_symbol(@job.price) %></h3>

  <div class="go-back">
   <%= link_to "Back to orders", :back, class: "button-go-back" %>
 </div>
</div>
</br>
</br>
</br>
</div>
</div>